<!-- breadcrumb -->
<div class="container">
  <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-90 p-lr-0-lg">
    <a href="/" class="stext-200 cl8 hov-cl1 trans-04 fw-bold">
      Home
      <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
    </a>

    <a href="/product" class="stext-200 cl8 hov-cl1 trans-04 fw-bold">
      {{newCategory}}
      <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
    </a>

    <span class="stext-200 cl4 fw-normal">
      {{product.Product-Name}}
    </span>
  </div>
</div>

<div class="position-fixed w-25 d-none" id="success"
  style="left:530px; top: 100px; z-index: 1000; background-color:black; border-radius:10px;">
  <p id="success-text" class="text-center mt-5" style="color:white;">Added to Cart</p>
</div>


<section class="py-5 ">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-6">
        <!-- PRODUCT SLIDER-->
        <div class="row m-sm-0">
          <div class="col-sm-12 order-1 order-sm-2">
            <div class="swiper product-slider">
              <div class="swiper-wrapper">
                <div class="col-md-12 px-0 lens " id="img-container" style="width:100%">
                  <img class="block__pic img-fluid" src="{{product.image.[0]}}" alt="" id="ProductImg"
                    style="width:540px ;height:381px;" />
                </div>
                <div class="col-md-12 me-0 mt-3  p-0">
                  <div class="swiper product-slider-thumbs">
                    <div class="swiper-wrapper d-flex" style="justify-content: space-around;">
                      {{!-- <div class="small-img-col  m-1">
                        <img src="{{product.image.[0]}}" alt="" width="100%" class="small-img" />
                      </div>
                      <div class="small-img-co1  m-1">
                        <img src="{{product.image.[1]}}" alt="" width="100%" class=" small-img" />
                      </div>

                      <div class="small-img-col  m-1">
                        <img src="{{product.image.[2]}}" alt="" width="100%" class=" small-img" />
                      </div>
                      <div class="small-img-col  m-1">
                        <img src="{{product.image.[3]}}" alt="" width="100%" class=" small-img" />
                      </div> --}}


                      <div class="small-img-col  me-3">
                        <img src="{{product.image.[0]}}" alt="" style="width:120px ;height:120px;" class="small-img" />
                      </div>
                      <div class="small-img-co1   me-3">
                        <img src="{{product.image.[1]}}" alt="" style="width:120px ;height:120px;" class=" small-img" />
                      </div>

                      <div class="small-img-col   me-3">
                        <img src="{{product.image.[2]}}" alt="" style="width:120px ;height:120px;" class=" small-img" />
                      </div>
                      <div class="small-img-col  ">
                        <img src="{{product.image.[3]}}" alt="" style="width:120px ;height:120px;" class=" small-img" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- PRODUCT DETAILS-->
      <div class="col-lg-6" style="padding-top:1rem;">
        <h5 class="mb-3 text-black">{{product.Brand}}</h5>
        <h1 class="mb-3 text-black">{{product.Product-Name}}</h1>
        {{!-- {{#if product.offerPrice}}
        <p class="text-muted lead" style="text-decoration:line-through ;">₹{{product.actualPrice}}</p>
        {{#if product.currentOffer}}
        <p style="color:green;">{{product.currentOffer}}% off</p>
        {{else}}
        <p style="color:red;">0% off</p>
        {{/if}}
        <p class="lead" style="font-weight:600;">₹{{product.offerPrice}}</p>
        {{else}}
        <p class="lead" style="font-weight:600;">₹{{product.actualPrice}}</p>
        {{/if}} --}}
        <p class="lead mb-3 text-black" style="font-weight:600;">₹{{product.Price}}</p>
        <p class="text-sm mb-4">{{product.Product-Discription}}</p>
        <div class="row align-items-stretch mb-4">
          {{!-- {{#if product.stock}}
          {{#if user}}
          <button type="button" class="ms-3 col-3 btn btn-primary" style="border-radius: 20; border: 0;"
            onclick="addToCart('{{product._id}}')">Add
            to Cart</button>
          <button type="button" class="ms-3 col-3 btn btn-danger" style="border-radius: 20; border: 0;"
            onclick="addToWishlist('{{product._id}}')">Add
            to Wishlist</button>
          {{else}}
          <button type="button" class="ms-3 col-3 btn btn-primary" data-bs-toggle="modal"
            style="border-radius: 20; border: 0;" data-bs-target="#login" data-bs-whatever="@mdo">
            Add to cart</button>
          <button type=" button" class="ms-3 col-3 btn btn-danger" data-bs-toggle="modal"
            style="border-radius: 20; border: 0;" data-bs-target="#login" data-bs-whatever="@mdo">Add to
            Wishlist</button>
          {{/if}}
          {{else}}
          <button type="" class="ms-3 col-3 btn btn-danger" style="border-radius: 20; border: 0;">Out of
            Stock</button>
          {{/if}} --}}
          {{#if user}}
          <button onclick="addToCart('{{product._id}}')"
            class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-16 trans-04 mt-2 ms-3"
            style="max-width: 25px;">
            Add to cart
          </button>
          
          <button onclick="addToWishlist('{{product._id}}')" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-16 trans-04 mt-2 ms-5"
            style="max-width: 25px;" id="wish-button">
            Add to Wishlist
          </button>
          {{else}}
          <a href="/login" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-16 trans-04  mt-2 ms-3"
            style="max-width: 25px;">
            Add to cart</a>
          <a href="/login" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-16 trans-04  mt-2 ms-5"
            style="max-width: 25px;">
            Add to Wishlist</a>
          {{/if}}
        </div>

        <ul class="list-unstyled small d-inline-block">
          <li class="px-1 py-2 mb-1 bg-white text-muted"><strong class="text-uppercase text-black ">Category:</strong><a
              class="reset-anchor ms-2" href="/products?search={{product.category}}">{{product.category}}</a></li>
        </ul>
      </div>
    </div>

    <!-- DETAILS TABS-->
    <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
      <li class="nav-item"><a class="nav-link text-uppercase active fw-bold" id="description-tab" data-bs-toggle="tab"
          href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a></li>
    </ul>
    <div class="tab-content mb-5" id="myTabContent">
      <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
        <div class="p-4 p-lg-4 bg-white">
          <h6 class="text-uppercase text-black fw-normal">Product description </h6>
          <p class="text-muted text-sm mt-2">{{product.Product-Discription}}</p>
        </div>
      </div>
    </div>
    <!-- RELATED PRODUCTS-->
    <h2 class="h5 text-uppercase mb-5 text-black fw-bold">Related products</h2>
    <div class="row">
      {{#each related}}
      {{!-- <div class="col-lg-3 col-md-6 col-sm-12 ">
        <div class="card m-1" style="width: 100%; margin-top:25px;">

          <img style="width:75%;" src="{{this.image.[0]}}" class="card-img-top mx-auto mt-3" alt="...">

          <div class="card-body m-1">
            <h6>{{this.Brand}}</h6>
            <a style="text-decoration: none;" href="/product-details/{{this._id}}">
              <h5>{{this.Product-Name}}</h5>
            </a>

            <div class="d-flex">
              <h5 class="me-3">₹{{this.offerPrice}}</h5>
              {{#if this.currentOffer}}
              <p style="color:green;">{{this.currentOffer}}% off</p>
              {{else}}
              <p style="color:red;">0% off</p>
              {{/if}}
            </div>
            <button type="button" class="btn btn-primary" style="border-radius: 10px;"
              onclick="addToCart('{{this._id}}')">Add to Cart</button>
          </div>
        </div>
      </div> --}}
      <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
        <!-- Block2 -->
        <div class="block2  me-5 mb-4">
          <div class="block2-pic hov-img0">
            <img src={{this.image.[0]}} alt="IMG-PRODUCT">

            <a href="/product-details?prod_id={{this._id}}&category={{this.category}}"
              class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 ">
              Quick View
            </a>
          </div>

          <div class="block2-txt flex-w flex-t p-t-14 ">
            <div class="block2-txt-child1 flex-col-l ">
              <a href="/product-details?prod_id={{this._id}}&category={{this.category}}"
                class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                {{this.Product-Name}}
              </a>

              <span class="stext-105 cl3">
                {{this.Price}}
              </span>
            </div>

            <div class="block2-txt-child2 flex-r p-t-3">
              <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                <img class="icon-heart1 dis-block trans-04" src="/user/images/icons/icon-heart-01.png" alt="ICON">
                <img class="icon-heart2 dis-block trans-04 ab-t-l" src="/user/images/icons/icon-heart-02.png"
                  alt="ICON">
              </a>
            </div>

            <div>
              {{#if ../user}}
              <button onclick="addToCart('{{this._id}}')"
                class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-16 trans-04 mt-2 ms-5">
                Add to cart
              </button>
              {{else}}
              <a href="/login" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-16 trans-04  mt-2 ms-5">Add
                to
                cart</a>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>

<style>
  .card:hover,
  .img-fluid:hover {
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    transition-duration: .6s;
  }
</style>

<!-- JavaScript files-->

<script>
  var ProductImg = document.getElementById('ProductImg');
  var SmallImg = document.getElementsByClassName('small-img');
  SmallImg[0].onclick = function () {
    ProductImg.src = SmallImg[0].src;
  };
  SmallImg[1].onclick = function () {
    ProductImg.src = SmallImg[1].src;
  };
  SmallImg[2].onclick = function () {
    ProductImg.src = SmallImg[2].src;
  };
  SmallImg[3].onclick = function () {
    ProductImg.src = SmallImg[3].src;
  };
</script>