<!-- breadcrumb -->
<div class="container ">
	<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-80 p-lr-0-lg">
		<a href="/" class="stext-200 cl8 hov-cl1 trans-04 fw-bold">
			Home
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>

		<span class="stext-200 cl4 fw-normal">
			Shoping Cart
		</span>
	</div>
</div>

{{#if cartCount}}

<div class="container mt-5">
	<div class="row">
		<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
			<div class="m-l-25 m-r--38 m-lr-0-xl">
				<div class="wrap-table-shopping-cart">
					<table class="table-shopping-cart">
						<tr class="table_head">
							<th class="column-1 align-middle">Product</th>
							<th class="column-2 align-middle"></th>
							<th class="column-3 align-middle ">Price</th>
							<th class="column-4 text-center ">Quantity</th>
							<th class="column-5 text-end">Total</th>
						</tr>
						{{#if cartCount}}
						{{#each products}}
						<tr class="table_row">
							<td class="column-1">
								<div class="how-itemcart1">
									<img src="{{this.product.image.[0]}}" alt="IMG">
								</div>
							</td>
							<td class="column-2">{{this.product.Product-Name}}</td>
							<td class="column-3">₹{{this.product.offerPrice}}</td>
							<td class="column-4">
								<div class="wrap-num-product flex-w m-l-auto m-r-0">
									<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
										<button
											onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{this.product.Stock}}','{{this.product.offerPrice}}','{{../userId}}',-1)"
											id="minus{{this.product._id}}" style="height: 48px;width:50px ;">
											<i class="fs-16 zmdi zmdi-minus"></i>
										</button>

									</div>

									<span class="mtext-104 cl3 txt-center num-product pt-2"
										id="{{this.product._id}}">{{this.quantity}}</span>

									<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
										<button
											onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{this.product.Stock}}','{{this.product.offerPrice}}','{{../userId}}',1)"
											id="plus{{this.product._id}}" style="height: 48px;width:50px ;">
											<i class="fs-16 zmdi zmdi-plus"></i>
										</button>
									</div>
								</div>
							</td>
							<td class="column-5 pt-5">
								<div class="pt-5 pb-5 ps-3">
									<span id="TotalProdctPrice{{this.product._id}}">
										₹{{#multiply this.product.offerPrice this.quantity}}
										{{/multiply}}
									</span>

								</div>
								<div class="pt-3 ps-5">
									<button style="color: rgb(3, 3, 3);" onclick="deleteCart('{{this.product._id}}')">
										<i class="fa fa-trash " aria-hidden="true" style="font-size:2em;"></i>
									</button>
								</div>
							</td>
						</tr>
						{{/each}}
						{{/if}}

					</table>
				</div>

				<div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
					<form id="redeem-coupon" method="post">
						<div class="flex-w flex-m m-r-20 m-tb-5">
							<input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" id="coupon-form"
								type="text" name="coupon" placeholder="Coupon Code">

							<div
								class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
								{{!-- <a href="#" style="color: black;">Apply coupon</a> --}}
								<button type="submit">Apply coupon</button>

							</div>

						</div>
					</form>
					<div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
						<a href="/product" style="color: black;">Update Cart</a>
					</div>
					<div id="coupon-condition-Err" class="text-danger"></div>
					<div id="coupon-condition" class="text-success"></div>
				</div>

			</div>
		</div>

		<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
			<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-4 m-lr-0-xl p-lr-15-sm">
				<h4 class="mtext-109 cl2 p-b-30">
					Cart Totals
				</h4>

				<div class="flex-w flex-t bor12 p-b-20">
					<div class="size-208">
						<span class="stext-110 cl2">
							Subtotal:
						</span>
					</div>

					<div class="size-209">
						<span class="mtext-110 cl2" id="total">
							₹{{totalValue}}
						</span>
					</div>
				</div>


				<div class="bor12 ps-3">
					<div class="row p-0 mt-4 mb-3" style="color: black;">
						<div class="col-3 p-0">
							<span class="fs-5 fw-b  ">
								Discount
							</span>

						</div>
						<div class="col-9  " style="padding-left: 140px;">
							<span class="fs-5 fw-b text-success" id="Discount">
								-₹0
							</span>
						</div>

					</div>

					<div class="row p-0 mb-3" style="color: black;">
						<div class="col-8 p-0">
							<span class="fs-5 fw-b  ">
								Delivery Charges
							</span>

						</div>
						<div class="col-4  ps-2">
							<span class="fs-5 fw-b  " id="Delivery-Charges">
								₹{{#Compare totalValue 10000}}
								{{/Compare}}
							</span>
						</div>

					</div>


					<div class="row p-0 mb-4" style="color: black;">
						<div class="col-8 p-0">
							<span class="fs-5 fw-b  ">
								Secured Packaging Fee
							</span>

						</div>
						<div class="col-4  ps-2">
							<span class="fs-5 fw-b  " id="Secured-Packaging-Fee">
								₹50
							</span>
						</div>

					</div>
				</div>

				<div class="flex-w flex-t p-t-27 p-b-33">
					<div class="size-208">
						<span class="mtext-101 cl2 fs-4">
							Total:
						</span>
					</div>

					<div class="size-209 p-t-1">
						<span class="mtext-101 cl2  fs-4" id="GrantTotal">
							₹{{#Add totalValue 0 50}}
							{{/Add}}
						</span>
					</div>
				</div>
				<form action="/place-order" method="get">
					{{!-- <div class="Discount-value hide">
						<div class="promo-value final-value" id="Discount-value" hidden></div>
					</div> --}}
					<input type="hidden" id="Discount-value" name="DiscountValue" >
					{{!-- <span id="Discount-value" name="Discount-value" >0</span> --}}
					<button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer"
						type="submit">
						Proceed to Checkout
					</button>
					

				</form>
			</div>
		</div>
	</div>
</div>
{{else}}
<div class="container-fluid  mt-5">
	<div class="row">

		<div class="col-md-12">

			<div class="card mb-5">

				<div class="card-body cart">
					<div class="col-sm-12 empty-cart-cls text-center">
						<img src="	https://codescandy.com/coach/rtl/assets/images/bag.svg" class="img-fluid "
							style="height: 50%;width:30% ">
						<h2><strong>Your Cart is Empty</strong></h2>

						<a href="/product" class="btn btn-primary cart-btn-transform m-3" data-abc="true">Continue
							shopping</a>


					</div>
				</div>
			</div>


		</div>

	</div>

</div>
{{/if}}